// default .button class, can be used directly or extended
// use button mixin directly for variations
.button {
    @include button($primary-color);
}

.glass {
  border: solid 1px $green;
  background: rgb(0, 0, 0);
  background: rgba(0,0,0,0.8);
  border-radius: 8px;
}

/*
  Button Hover - http://codepen.io/tdevine33/pen/cjFbt
*/
[class*="button-"]{
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0 2em;
  height: 3em;
  font: bold .8em/3em $font-family;
  text:{
    shadow: 0 1px 3px rgba(black, .35);
  }
  @include transition(.35s ease all);

  &:hover{
    background-color: $green;
    box-shadow: 0 0 3px rgba(black, .5) inset;
  }
}

.button-hover{

  &:hover{
    line-height: 8.5em;
  }

  &:before{
    content: attr(data-text);
    position: absolute;
    top: -2.8em;
  }
}
