.story {

  text-align: center;
  border-top: inherit;
  padding: em(20) em(20);


  &:first-child {
    border-top: none;
  }

  @include tablet {
    @include outer-container;
    text-align: left;
    background: white;
  }

  .image-wrapper {

    @include tablet{
      padding-left: em(10);
      @include span-columns(5);
    }

  }


  .title-wrapper {

    margin: 0 auto;

    p {
      text-align: left;
    }

    @include tablet {
      @include omega();
      @include span-columns(7);
    }

  }

  button {
    padding: 17px 20px 18px 50px;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: url('/images/icon-book.png') no-repeat $green 18px center ;
    background-color: #297373;

  }

}
