$font-family: "open-sans", sans-serif;

$primary-color: #3085d6;
$secondary-color: #42a35a;
$error-color: #ca3838;
$warning-color: #f6b83f;
$success-color: #58c026;

$body-color: #444;
$link-color: #477dca;

//other settings
$base-button-color: #5bb640;
