@import "../../bower_components/normalize-scss/normalize";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "settings";
@import "components";
/*
	Global Helpers
*/

h1, h2, h3 {
	font-size: 2.8em;
	font-weight: 300;
	margin: 0;
}
h2 {
	text-align: center;
	margin: em(18) 0;
}
h3 {
	font-size: 2.2em;
	color: $dark-gray;
	margin: 0 0 em(6) 0;
}
h4 {
	font-size: 0.8em;
	margin: 0;
	text-transform: uppercase;
	color: $light-gray;
}
p {
	margin: em(27) 0 em(30) 0;
	color: $medium-gray;
}
.light {
	color: $white;
}


/*
	Top nav bar
*/
.nav-wrapper {
	background: #1d1e20;

	nav {
		@include outer-container;
		padding: 15px;

		.logo {
			max-width: 228px;
			float: left;
		}
		button.preorder {
			float: right;
			text-transform: uppercase;
		}
	}
}

/*
	Masthead
*/
.masthead {

	padding: 3em 0;
	background-image: url('/images/course.jpg');
	background-size: cover;
	background-position: 50% 50%;

	.description {

		margin: 0 auto;
		text-align: center;
		max-width: 383px;

		button {
			margin: .75em;
		}

	}
}

/*
	Sections
*/


.logo-wall {
	@include outer-container;
	text-align: center;
	padding: 20px;
	padding-bottom: 75px;
}

.news-outlets {

	.outlet {
		position: relative;
		@include span-columns(3);
		margin-bottom: 20px;
		padding: 10px;
		border: solid 1px $light-gray;
		@include transition(all .2s ease-out);
		@include transform-origin(center top);
		@include transform-style(preserve-3d);
		cursor: pointer;

		&:hover {
			z-index: 5;
			@include transform(scale(0.9) rotateY(-2deg));
			opacity: 0.4;
		}



		&:nth-of-type(4n) {
			@include omega();
		}

	}
}
/*
	Stories section has story components inside of it
*/
.stories {
	border-top: solid 1px $light-gray;

	.story {

	}

}

/*
	Additional Stories Toggler
*/
.more-content {
	height: em(55);
	background: $light-gray;
	text-align: center;
	text-transform: uppercase;

	button {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background: white;
		color: $medium-gray;
		padding: 13px 33px;
		font-size: .8em;
		text-transform: uppercase;
		letter-spacing: .1em;

	}
}


/*
	Guidelines section
*/
.guidelines {
  background-color: $near-black;

  /*
    Structural
  */
	.content {
		@include outer-container;
    text-align: center;
		padding: 20px;
		padding-bottom: 60px;
  }
  /*
    Layout contains a row of 3 columns
    - Each column has logos inside of it
    - Some have dark backgrounds and some have light
      backgrounds.
    - I wonder if they should just be images.
  */
  .crowns, .verticals, .sideways {
    @include span-columns(4);
  }
  //small logos in .crowns need to be part of the grid
  .crowns .small {
    margin-top: 1em;
    @include span-columns(2 of 4);
  }
  //logos in the sidways row need not have a left gutter
  .sideways {
    @include omega();

  }

  //sole button at the bottom
  button {
    margin-top: em(55);
  }

}



/*
	Footer
*/
footer {
	height: 20em;
}
