<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Arccos Press & Inquiries</title>

    <meta name="description" content="Assets to jumpstart a meaningful conversation with your audience, and a human to answer any questions.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/dist/css/main.css">

    <!--[if lt IE 9]>
        <script src="/dist/polyfill.js"></script>
    <![endif]-->

</head>
<body>
  <div class="nav-wrapper">
    <nav>
      <img src="images/logo.svg" alt="Arccos Logo Hyperlink" class="logo"/>
      <button class="preorder">Pre-order Now</button>
    </nav>
  </div>
  <header class="masthead">
    <hgroup class="description">
      <h1>Press & Inquiries</h1>
      <p>See what people are saying about Arccos
and get assets to strike up a new conversation.</p>
      <div class="button-friends">
        <button type="button" class="glass">Brand Assets</button>
        <button type="button" class="glass">Press Inquiries</button>
      </div>
    </hgroup>
  </header>
  <section class="logo-wall">
    <h2>Arcos in the News</h2>
    <ul class="news-outlets">
      <li class="outlet"><img src="images/engadget-outlet.gif" alt="" /></li>
      <li class="outlet"><img src="images/pga-outlet.jpg" alt="" /></li>
      <li class="outlet"><img src="images/nytimes-outlet.jpg" alt="" /></li>
      <li class="outlet"><img src="images/golfweek-outlet.jpg" alt="" /></li>
      <li class="outlet"><img src="images/golfdigest-outlet.gif" alt="" /></li>
      <li class="outlet"><img src="images/mashable-outlet.jpg" alt="" /></li>
      <li class="outlet"><img src="images/golfmagazine-outlet.gif" alt="" /></li>
      <li class="outlet"><img src="images/latimes-outlet.gif" alt="" /></li>
    </ul>
  </section>
  <section class="stories">
    <article class="story">
        <div class="image-holder">
          <img src="images/engadget-preview.jpg" alt="" />
        </div>
        <div class="preview">
          <h3>The #1 connected golf device</h3>
          <h4>Engadget</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
          <button>
            Read Article
          </button>
        </div>
    </article>
    <article class="story">
        <div class="image-holder">
          <img src="images/golfdigest-preview.jpg" alt="" />
        </div>
        <div class="preview">
          <h3>It’s not your swing, it’s your club.</h3>
          <h4>Golf Digest</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
          <button>
            Read Article
          </button>
        </div>
    </article>
    <article class="story">
        <div class="image-holder">
          <img src="images/pga-preview.jpg" alt="" />
        </div>
        <div class="preview">
          <h3>Tiger Woods’ new secret weapon</h3>
          <h4>Professional Golfers’ Association of america</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
          <button>
            Read Article
          </button>
        </div>
    </article>
    <div class="more-content">
      <button>More Articles</button>
    </div>
  </section>
  <section class="guidelines">
      <h2 class="light">Brand Guidelines</h2>
      <div class="">

      </div>
  </section>
  <footer></footer>


  <script src="//use.typekit.net/phv7wgm.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="/dist/js/main.js"></script>
</body>
</html>
